@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'poppins';
    src: url(./assets/Landing/fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: 'inter';
    src: url(./assets/Landing/fonts/Inter_28pt-Light.ttf);
}
@font-face{
  font-family: 'space';
  src: url(./assets/Landing/fonts/SpaceGrotesk-Regular.ttf);
}
@font-face{
  font-family: 'satoshi';
  src: url(./assets/Landing/fonts/Satoshi-Regular.otf);
}
@font-face{
  font-family: 'actor';
  src: url(./assets/Landing/fonts/Actor-Regular.ttf);
}

body{
    background-color: black;
    font-family: 'poppins';
    color: white;
}

.students {
    width: 366px;
    height: 245px;    
    background: black;
    border-radius: 20px;
  }

  .students::after{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(112.48deg, rgba(255, 255, 255, 0.1) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    background-size: 400% 400%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  /* Static Border */
  .students::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -2px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(93.66deg, rgba(25, 75, 253, 0.5) 10.33%, rgba(173, 19, 251, 0.5) 30.21%);
    background-size: 400% 400%;
    border-radius: 20px;
    opacity: 1;
    animation: gradientRotate 4s linear infinite paused; /* Initial state paused */
    transition: opacity 0.3s ease-in-out;
  }

  #personSkill{
    font-family: inter;
  }






  .skill {
    width: 44%;
    min-height: 430px;
    background: black;
    border-radius: 50px;





  }

  .skill::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.079) 6.31%, rgba(255, 255, 255, 0) 98.51%);
    background-size: 200% 200%;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;

  }

  /* Static Border */
  .skill::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    background: linear-gradient(93.66deg, rgba(25, 75, 253, 0.5) 10.33%, rgba(173, 19, 251, 0.5) 30.21%);
    background-size: 400% 400%;
    border-radius: 50px;
    opacity: 1;
    animation: gradientRotate 4s linear infinite paused; /* Initial state paused */
    transition: opacity 0.3s ease-in-out;
  }


  #progress::after{
    background-color: #6C63FF;
    content: "";
    position: absolute;
    top: -0px;
    left: -0px;
    right: -0px;
    bottom: -0px;
    z-index: -3;
    border-radius: 9999px;
    filter: blur(4px);
  }



  .banner {
    border-radius: 26px;
    background-image: url('./src/assets/Landing/images/banner.png');
  }

  /* Static Border */
  .banner::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(93.66deg, rgba(25, 75, 253, 0.5) 10.33%, rgba(173, 19, 251, 0.5) 30.21%);
    background-size: 400% 400%;
    border-radius: 26px;
    opacity: 1;
    animation: gradientRotate 4s linear infinite paused; /* Initial state paused */
    transition: opacity 0.3s ease-in-out;
  }


  @keyframes expandWidth 
  { 
    from { width: 25%; } to { width: var(--width);  } 
  }

  .animationProgress{
    animation: expandWidth 2s ease-in-out forwards;
  }


  .skills-animation{
    transition: width 2s;
}



  @media screen and (min-width: 768px) {
    .skill{
      height: 750px;
    }
  }

#portfolio{
  /* width: 1250px; */
  /* border: 1px solid red; */
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}